@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<script src="~/Content/plug-in/jquery.ztree/jquery.ztree.all-3.5.min.js"></script>
<link href="~/Content/plug-in/jquery.ztree/zTree.min.css" rel="stylesheet" />
@*<ul class="m-crm">
    <li><a href="@Url.Action("Welcome", "Home")"><i class="fa fa-home"></i>&nbsp;&nbsp;首页</a> <span class="divider">&gt;</span></li>
    <li>参数</li>
</ul>*@
<div class="report-tab">
    <button type="button" class="project-btn-3" id="add">添加项</button>
    <div class="f-cf params">
        <div class="params-fl">
            <div class="t-title"></div>
            <div class="t-body">
                <ul id="treeDemo" class="ztree"></ul>
            </div>
        </div>
        <div class="params-fr">
            <div class="t-title">
                <div style=" " class="t-body">
                    <button type="button" class="project-btn-4" id="addParams">添加参数</button>
                    <button type="button" class="paramdel" id="delParams">删除</button>
                </div>
                <div style="background: #fff">
                    <table id="table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="layer_notice" style="display: none;" id="addprojectdialog">
    <h2><i class="fa fa-close pull-right" style="" onclick="CloseProjectDialog()"></i><span style="">添加项</span></h2>
    <form id="type">
        <table>
            <tr><td align="right">分类项名:</td><td><input type="text" name="TypeName" id="TypeName" class="detail-input" style="width: 140px" /><span class="text-color-red" >*</span></td></tr>
            @*<tr><td align="right">分类项值:</td><td><input type="text" name="TypeValue" id="TypeValue" class="detail-input" style="width: 140px" /><span class="text-color-red" >*</span></td></tr>*@
            <tr><td colspan="2" align="center"><button type="button" id="submit_type" class="btn-blue" style="margin-top:20px;">保存</button></td></tr>
        </table>
    </form>
</div>
<div class="layer_notice" style="display: none;" id="addparamsdialog">
    <h2><i class="fa fa-close pull-right" style="" onclick="CloseParamDialog()"></i><span style="">添加参数</span></h2>
    <form id="params">
        <table>
            <tr style="height: 8px;"></tr>
            <tr><td align="right">参数名:</td><td><input type="text" name="ParamsName" id="ParamsName" class="detail-input" style="width: 220px;" /><span class="text-color-red" >*</span></td></tr>
            <tr style="height: 8px;"></tr>
            <tr><td align="right">参数值:</td><td><input type="text" name="ParamsValue" id="ParamsValue" class="detail-input" style="width: 220px;"/><span class="text-color-red" >*</span></td></tr>
            <tr><td colspan="2" align="center"><button type="button" id="submit_params" class="btn-blue" style="margin-top:12px;">保存</button></td></tr>
        </table>
    </form>
</div>
<script type="text/javascript">
    var param, project, dialog, confirm;
    var clickId = 0;    //树点击Id
    var needRequest = false;    //是否需要加载列表
    var paramId = 0;    //保存的参数Id
    var setting = {
        data: {
            simpleData: {
                enable: true
            }
        },
        callback: {
            onClick: TreeOnClick
        }
    };

    $(function() {
        LoadTree();
        var oTable = new TableInit();
        oTable.Init();
        CssInit();
        $("#add").click(AddType);
        $("#addParams").click(AddParams);
        $("#submit_type").click(SaveType);
        $("#submit_params").click(function () { SaveParams(paramId); });
        $("#delParams").click(function () { DelConfirm(''); });
    });

    function CloseProjectDialog() {
        layer.close(project);
    }

    function CloseParamDialog() {
        layer.close(param);
    }

    function LoadTree() { //加载树
        $.ajax({
            url: "/Params/GetParameterList",
            dataType: "json",
            type: "post",
            success: function(data) {
                $.fn.zTree.init($("#treeDemo"), setting, data);
            }
        });
    }

    var TableInit = function() { //列表
        //初始化Table
        var oTableInit = new Object();
        oTableInit.Init = function() {
            $('#table').bootstrapTable({
                url: '/Params/GetListByParentId', //请求后台的URL（*）
                method: 'post', //请求方式（*）
                toolbar: '#toolbar', //工具按钮用哪个容器
                striped: true, //是否显示行间隔色
                cache: false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true, //是否显示分页（*）
                sortable: false, //是否启用排序
                sortOrder: "asc", //排序方式
                queryParams: oTableInit.queryParams, //传递参数（*）
                sidePagination: "client", //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1, //初始化加载第一页，默认第一页
                pageSize: 10, //每页的记录行数（*）
                pageList: [10, 25, 50, 100], //可供选择的每页的行数（*）
                strictSearch: true,
                clickToSelect: true, //是否启用点击选中行
                height: 'auto', //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "Id", //每一行的唯一标识，一般为主键列
                cardView: false, //是否显示详细视图
                detailView: false, //是否显示父子表
                formatNoMatches: function() { //没有匹配的结果
                    return '';
                },
                columns: [
                    {
                        title: '参数名称',
                        field: 'Name',
                        align: 'left',
                        valign: 'middle'
                    },
                    {
                        title: '参数值',
                        field: 'Value',
                        align: 'left',
                        valign: 'middle',
                    },
                    {
                        title: '创建日期',
                        field: 'CreatedTime',
                        align: 'left',
                        valign: 'middle'
                    },
                    {
                        title: '操作',
                        align: 'left',
                        valign: 'middle',
                        formatter: function(value, row, index) {
                            var e = '<a href="javascript:void(0);" onclick="EditParams(\'' + row.Id + '\')">编辑</a> ';
                            var d = '<a href="javascript:void(0);" onclick="DelConfirm(\'' + row.Id + '\')">删除</a> ';
                            return e + d;
                        }
                    }
                ]
            });
        };
        //得到查询的参数
        oTableInit.queryParams = function(params) {
            var temp = {
                //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                //condition: { ResidentialAreaName: $('#ResidentialAreaName').val(), Address: $('#Address').val(), Bank: $('#Bank').val(), CustomerName: $('#CustomerName').val() },
                //rows: params.limit, //页面大小
                //index: params.offset/params.limit + 1,//页码
                parentId: clickId,
                needRequest: needRequest,
            };
            return temp;
        };
        return oTableInit;
    };

    function CssInit() {
        $("body").css("background", "#f9f9f9");
        $("#type").validate({   //数据验证
            rules: {
                //分类项名
                TypeName: {
                    maxlength: 30,
                    required: true
                },
                //分类项值
                //TypeValue: {
                //    maxlength: 30,
                //    required: true
                //},
            },
            message: {
                TypeName: {
                    maxlength: jQuery.validator.format("请输入一个长度不超过{0}的字符"),
                    required: "请输入分类项名"
                },
                //TypeValue: {
                //    maxlength: jQuery.validator.format("请输入一个长度最少是 {0} 的字符"),
                //    required: "请输入分类项值"
                //},
            },
            success: function(label) {
                layer.close(dialog);
                $("#" + label[0].htmlFor).removeClass("error-border");
            },
            errorPlacement: function(error, element) {
                $("#" + element[0].id).addClass("error-border");
                dialog = layer.tips(error[0].innerHTML, "#" + element[0].id, {
                    tips: [1, '#F99228']
                });
            }

        });
        $("#params").validate({     //数据验证
            rules: {
                //参数名
                ParamsName: {
                    maxlength: 30,
                    required: true
                },
                //参数值
                ParamsValue: {
                    maxlength: 30,
                    required: true
                },
            },
            message: {
                ParamsName: {
                    maxlength: jQuery.validator.format("请输入一个长度不超过是{0} 的字符"),
                    required: "请输入参数名"
                },
                ParamsValue: {
                    maxlength: jQuery.validator.format("请输入一个长度不超过是 {0} 的字符"),
                    required: "请输入参数值"
                },
            },
            success: function(label) {
                layer.close(dialog);
                $("#" + label[0].htmlFor).removeClass("error-border");
            },
            errorPlacement: function(error, element) {
                $("#" + element[0].id).addClass("error-border");
                dialog = layer.tips(error[0].innerHTML, "#" + element[0].id, {
                    tips: [1, '#F99228']
                });
            }
        });
    }

    function TreeOnClick(event, treeId, treeNode) { //树节点点击事件
        clickId = treeNode.id;
        if (treeNode.isParent) {
            needRequest = true;
        } else {
            needRequest = false;
        }
        $('#table').bootstrapTable('refresh');
    }

    function AddType() { //添加项
        $(".layer_notice input").val("");
        project = layer.open({
            type: 1,
            shade: [0.3, "#070707"],
            closeBtn: 0,
            area: ['340px', '200px'],
            title: false, //不显示标题
            content: $('#addprojectdialog'), //捕获的元素
        });
    }

    function AddParams() { //添加参数
        if (clickId == 0) {
            layer.msg("请选中项目后再添加.", { icon: 5, time: 1500, shade: [0.3, '#000'] });
            return;
        }
        $(".layer_notice input").val("");
        param = layer.open({
            type: 1,
            shade: [0.3, "#070707"],
            closeBtn: 0,
            area: ['360px', '200px'],
            title: false, //不显示标题
            content: $('#addparamsdialog'), //捕获的元素
        });
        paramId = 0;
    }

    function EditParams(id) { //编辑参数
        $(".layer_notice input").val("");
        $.ajax({
            url: "/Params/GetParameterById",
            data: { id: id },
            success: function (data) {
                $("#ParamsName").val(data.Name);
                $("#ParamsValue").val(data.Value);
                paramId = id;
                param = layer.open({
                    type: 1,
                    shade: [0.3, "#070707"],
                    closeBtn: 0,
                    area: ['360px', '200px'],
                    title: false, //不显示标题
                    content: $('#addparamsdialog'), //捕获的元素
                });
            },
            error: function () {
                layer.msg("加载失败！", { icon: 2, time: 1500, shade: [0.3, '#000'] });
            }
        });
    }

    function DelConfirm(id) { //删除提示
        if (id == '' && clickId == 0) { layer.alert("请选择要删除的参数项目", { icon: 2 });
            return;
        }
        confirm = layer.confirm('是否确认删除该参数', {
            btn: ['确定', '取消']
        }, function () {
            DelParams(confirm, id);
        }, function () {
            layer.close(confirm);
        });
    }

    function DelParams(confirm, id) {   //删除参数
        if(id==''){id=clickId;}
        $.ajax({
            url: "/Params/DeleteParameter",
            type: "POST",
            data: { id: id },
            success:function(result) {
                layer.close(confirm);
                if (result.success) {
                    $('#table').bootstrapTable('refresh');
                    layer.alert('删除成功', { icon: 1 });
                    LoadTree();
                }
                else {
                    layer.alert(result.message, { icon: 2 });
                }
            }
        });
    }

    function SaveType() {
        if (!$("#type").valid()) return;
        var name = $("#TypeName").val();
        var value = $("#TypeName").val();
        $.ajax({
            url: "/Params/SaveParameter",
            type: "POST",
            data: { parentId: 0, name: name, value: value },
            success: function(result) {
                if (result.success) {
                    CloseProjectDialog();
                    layer.alert('保存成功', { icon: 1 });
                    LoadTree();
                }
                else {
                    layer.alert(result.message, { icon: 2 });
                }
            }
        });
    }

    function SaveParams(id) {
        if (!$("#params").valid()) return;
        if (clickId == 0) {
            layer.msg("请选中项目后再添加.", { icon: 5, time: 1500, shade: [0.3, '#000'] });
            return;
        }
        if (id == 0) {
            needRequest = true; }
        var name = $("#ParamsName").val();
        var value = $("#ParamsValue").val();
        $.ajax({
            url: "/Params/SaveParameter",
            type: "POST",
            data: { parentId: clickId, name: name, value: value, id: id },
            success: function(result) {
                if (result.success) {
                    CloseParamDialog();
                    layer.alert('保存成功', { icon: 1 });
                    LoadTree();
                    $('#table').bootstrapTable('refresh');
                }
                else {
                    layer.alert(result.message, { icon: 2 });
                }
            }
        });
    }
</script>
