@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@*<ul class="m-crm">
    <li><a href="@Url.Action("Welcome", "Home")"><i class="fa fa-home"></i>&nbsp;&nbsp;首页</a> <span class="divider">&gt;</span></li>
    <li>线上业务</li>
</ul>*@
<div class="report-tab">
    <form id="searchinfo">
        <table border="0" cellspacing="0" cellpadding="0" class="business">
            <tr>
                <td>流水号：</td>
                <td><input type="text" class="report-input" name="ProjectNo" id="ProjectNo" /></td>
                <td>交易编号：</td>
                <td><input type="text" class="report-input" name="TransactionNo" id="TransactionNo" /></td>
                <td>物业地址：</td>
                <td><input type="text" class="report-input" name="HouseAddress" id="HouseAddress" /></td>
                <td>小区名称：</td>
                <td><input type="text" class="report-input" id="Community" name="Community" /></td>
                <td><button type="button" class="business-btn-1" id="search" onclick="Search()">查询</button></td>
            </tr>
        </table>
    </form>
    <table id="table"></table>
</div>
<div class="layer_notice" style="display: none;">
    <h2><i class="fa fa-close pull-right" style="" onclick="Cancel()"></i><span style=" ">拒绝受理</span></h2>
    <table>
        <tr><td class="left">拒绝原因</td><td><textarea rows="5" class="tc_textarea" id="RefuseReason" name="RefuseReason"></textarea></tr>
        <tr><td colspan="2" align="center">&nbsp;&nbsp;</td></tr>
        <tr>
            <td colspan="2" align="center">
                <input type="hidden" id="Id" name="Id" />
                <button type="button" class="btn-green" id="btnRefuseSummit" name="btnRefuseSummit">保存</button>
                <button type="button" class="btn-red" id="btnCancel" name=" btnCancel">取消</button>
            </td>
        </tr>
    </table>
</div>

<div class="layer_feedback" style="display: none;">
    <h2><i class="fa fa-close pull-right" style="" onclick="Cancel()"></i><span style=" ">反馈</span></h2>
    <table>
        <tr>
            <td class="left">反馈意见</td>
            <td>
                <select class="input" id="Content" name="Content">
                    <option value="缺少材料">缺少材料</option>
                    <option value="资料不清晰">资料不清晰</option>
                </select>
            </td>
        </tr>
        <tr style="height: 8px;"></tr>
        <tr><td class="left">备注</td><td><textarea rows="4" class="tc_textarea" placeholder="请输入您宝贵的意见......" id="Remark" name="Remark"></textarea></td></tr>
        <tr style="height: 8px;"></tr>
        <tr><td colspan="2" class="f-tc"><button class="btn-blue" id="btnFeedBackSubmit" name="btnFeedBackSubmit">确定</button></td></tr>
    </table>
    <input type="hidden" id="transactionNo" name="transactionNo" />
</div>

<div class="layer_noticed" style="display: none;">
    <h2><i class="fa fa-close pull-right" style="" onclick="Cancel()"></i>提示信息</h2>
    <table>
        <tr><td>&nbsp;</td></tr>
        <tr><td colspan="2" align="center">请问是否受理该在线业务？</td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td colspan="2" align="right">
                <button type="button" class="btn-green" onclick="next()">受理</button>
                <button type="button" class="paramdel" onclick="unnext()">拒绝受理</button>
            </td>
        </tr>
    </table>
</div>

<script type="text/javascript">
    //初始化
    var pass, dialog, index;
    var _id;
    $(function () {
        //表格初始化
        tabint();
        $("#searchinfo").validate({
            rules: {
                //流水号
                ProjectNo: {
                    maxlength: 15,
                    isDigits: true
                },
                //交易编号
                TransactionNo: {
                    maxlength: 18,
                    isDigits: true
                },
                //物业地址
                HouseAddress: {
                    maxlength: 50
                },
                //小区名称
                Community: {
                    maxlength: 50
                }
            },
            messages: {
                ProjectNo: {
                    maxlength: jQuery.validator.format("亲,字符不用超过15个"),
                    isDigits: "输入的必须为数字"
                },
                TransactionNo: {
                    maxlength: jQuery.validator.format("亲,字符不用超过18个"),
                    isDigits: "输入的必须为数字"
                },
                HouseAddress: {
                    maxlength: jQuery.validator.format("亲,字符不用超过50个")
                },
                Community: {
                    maxlength: jQuery.validator.format("亲,字符不用超过50个")
                }
            },
            success: function (label) {
                layer.close(dialog);
                $("#" + label[0].htmlFor).removeClass("error-border");
            },
            errorPlacement: function (error, element) {
                $("#" + element[0].id).addClass("error-border");
                dialog = layer.tips(error[0].innerHTML, "#" + element[0].id, {
                    tips: [2, '#F99228']
                });
            }
        });

        $('#btnRefuseSummit').click(RefuseSummit);
        $('#btnCancel').click(Cancel);
        $('#btnFeedBackSubmit').click(FeedBackSubmit);

        $(window).resize(function () {
            $('#table').bootstrapTable('resetWidth', '100%');
        });
    });

    //查询
    function Search() {
        if ($("#searchinfo").valid()) {
            $('#table').bootstrapTable("destroy");
            tabint();
        }
    }

    //询问受理在线业务
    function Handle(id) {

        _id = id;
        layer.open({
            type: 1,
            shade: [0.3, "#070707"],
            closeBtn: false,
            area: ['240px', '140px'],
            title: false, //不显示标题
            content: $('.layer_noticed'), //捕获的元素
        });

    }

    function next(id) {
            layer.close(pass);
            //var fram = parent.$("#url");
        //fram.attr("src", "/Acceptance/AddingProject?onlineid=" + id);
            parent.changeIframe("AddingProject_Acceptance", "添加立项", "/Acceptance/AddingProject?onlineid=" + id);
    }

    function unnext(id) {
        layer.close(pass);
        $("#Id").val(id);
            $("#RefuseReason").val("");
            index = layer.open({
                type: 1,
                shade: [0.3, "#070707"],
                closeBtn: 0,
                area: ['420px', '260px'],
                title: false, //不显示标题
                content: $('.layer_notice'), //捕获的元素
            });
    }

    //拒绝受理保存
    function RefuseSummit() {
        if ($("#RefuseReason").val().length == 0) {
            layer.alert("请填写拒绝受理原因!", { icon: 0 });
            return;
        }
        $.ajax({
            type: "post",
            url: "/OnlineBusiness/Refuse",
            data: { Id: $("#Id").val(), RefusedReason: $("#RefuseReason").val() },
            success: function (data) {
                if (data.success) {
                    layer.alert('操作成功!', { icon: 1 }, function () {
                        layer.closeAll();
                        Search();
                    });
                } else {
                    layer.alert(data.message, { icon: 2 });
                }
            }
        });
    }

    //取消
    function Cancel() {
        layer.closeAll();
    }

    //反馈弹出框
    function FeedBack(id, transactionno) {
        $("#Id").val(id);
        $("#Remark").val("");
        $("#transactionNo").val(transactionno);
        index = layer.open({
            type: 1,
            shade: [0.3, "#070707"],
            closeBtn: 0,
            area: ['420px', '280px'],
            title: false, //不显示标题
            content: $('.layer_feedback'), //捕获的元素
        });

    }

    //反馈提交
    function FeedBackSubmit() {
        $.ajax({
            type: "post",
            url: "/OnlineBusiness/SubmitFeeBack",
            data: { onLineBusinessId: $("#Id").val(), content: $("#Content").val(), remark: $("#Remark").val(), transactionNo: $("#transactionNo").val() },
            success: function (data) {
                if (data.success) {
                    layer.alert('操作成功!', { icon: 1 }, function () {
                        layer.closeAll();
                        Search();
                    });
                } else {
                    layer.alert(data.message, { icon: 2 });
                }
            }
        });
    }

    function tabint() {
        $('#table').bootstrapTable({
            url: "/OnlineBusiness/GetOnLineBusinessList",
            method: 'post', //请求方式（*）
            striped: true, //是否显示行间隔色
            cache: false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true, //是否显示分页（*）
            sortable: false, //是否启用排序
            sortOrder: "asc", //排序方式
            queryParams: function (params) {
                return {
                    condition: { ProjectNo: $("#ProjectNo").val(), TransactionNo: $("#TransactionNo").val(), HouseAddress: $("#HouseAddress").val(), Community: $("#Community").val() },
                    pageSize: params.limit, //页面大小
                    pageNumber: params.offset / params.limit + 1 //页码
                };
            }, //传递参数（*）
            sidePagination: "server", //分页方式：client客户端分页，server服务端分页（*）
            pageNumber: 1, //初始化加载第一页，默认第一页
            pageSize: 10, //每页的记录行数（*）
            pageList: [10, 25, 50, 100], //可供选择的每页的行数（*）
            strictSearch: true,
            clickToSelect: true, //是否启用点击选中行
            height: 'auto', //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            uniqueId: "Id", //每一行的唯一标识，一般为主键列
            cardView: false, //是否显示详细视图
            detailView: false, //是否显示父子表
            columns: [
                {
                    title: '交易单编号',
                    field: 'TransactionNo',
                    align: 'center',
                    valign: 'middle'
                },
                {
                    title: '物业地址',
                    field: 'HouseAddress',
                    align: 'center',
                    valign: 'middle',
                },
                {
                    title: '小区名',
                    field: 'Community',
                    align: 'center',
                    valign: 'middle'
                },
                {
                    title: '紧急程度',
                    field: 'Urgency',
                    align: 'center',
                    valign: 'middle'
                },
                {
                    title: '期望评估总价',
                    field: 'Assessment',
                    align: 'center',
                    valign: 'middle'
                },
                {
                    title: '贷款类型',
                    field: 'LoanType',
                    align: 'center',
                    valign: 'middle'
                },
                {
                    title: '物业类型',
                    field: 'PropertysType',
                    align: 'center',
                    valign: 'middle'
                },
                {
                    title: '数据来源',
                    field: 'DataSource',
                    align: 'center',
                    valign: 'middle'
                },
                {
                    title: '操作',
                    align: 'center',
                    valign: 'middle',
                    formatter: function (value, row, index) {
                        var operate = '<a href="javascript:void(0);" onclick=changeIframe("Detail_OnlineBusiness","业务详情","/OnlineBusiness/Detail/' + row.Id + '")>查看</a>';
                        if (row.DelegateType != '人工询价' && !row.IsAccept && (row.RefusedReason == null || row.RefusedReason == "")) {
                            operate += ' <a href="javascript:void(0);" onclick="next(\'' + row.Id + '\')">受理</a>  <a href="javascript:void(0);" onclick="unnext(\'' + row.Id + '\')">不受理</a> <a href="javascript:void(0);" onclick="FeedBack(\'' + row.Id + '\',\'' + row.TransactionNo + '\')">反馈</a>';
                        }
                        if (row.DelegateType == '人工询价' && !row.IsStop && !row.IsInquiry) {
                            operate += ' <a href="javascript:void(0);" onclick=changeIframe("AddInquiry_Inquiry","添加询价","/Inquiry/AddInquiry?onlineBussinessId=' + row.Id + '")>询价</a>';
                        }
                        return operate;
                    }
                }
            ]
        });
    }
    function changeIframe(id,name,url) {
        parent.changeIframe(id,name,url);
    }
</script>