* {
    margin: 0;
    padding: 0;
}

button {
    border: 0;
    outline: none;
    cursor: pointer;
}

    button:hover, button :active, button:visited, button:focus {
        outline: none;
    }

input:focus {
    outline: none;
}

ul, li {
    list-style: none;
}

a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    outline: none;
}

    a:active, a:visited {
        outline: none;
        border: none;
    }

textarea {
    outline: none;
    border: 0;
    overflow: hidden;
    resize: none;
}

input:focus {
    outline: none;
}

h1, h2, h3, h4, h5 {
    font-family: 'Microsoft YaHei';
}

.clearfix, .f-cf, .fixed-table-pagination {
    zoom: 1;
}

    .clearfix:after, .f-cf:after, .fixed-table-pagination:after {
        background: none;
        border: 0;
        clear: both;
        display: block;
        float: none;
        font-size: 0;
        margin: 0;
        padding: 0;
        overflow: hidden;
        visibility: hidden;
        width: 0;
        height: 0;
    }

.oh {
    overflow: hidden;
}

.bc-white {
    background: #fff;
}

.skin-1 .navbar .logo {
    padding-top: 10px !important;
    padding-bottom: 0px !important;
    height: 70px;
}

.logo img {
    width: 460px;
    height: 60px;
}

.closed, .opened {
    position: fixed;
    bottom: 60px;
    color: #fff;
    background: #474545;
    padding: 4px 2px;
    cursor: pointer;
}

.closed {
    left: 138px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.opened {
    left: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.skin-1 .navbar {
    background: #34b5e2;
}

.skin-1 .navbar-default {
    height: 80px;
}

.skin-1 .users-info {
    margin-top: 30px !important;
    margin-left:0;
    display: block;
}

    .skin-1 .users-info li {
        float: left;
        color: #fff;
    }

    .skin-1 .users-info .line {
        padding: 0 20px;
        float: left;
        color: #fff;
    }

    .skin-1 .users-info li a, .skin-1 .users-info li a:hover {
        color: #fff;
        text-decoration: none;
    }

        .skin-1 .users-info li a i {
            color: #d30202;
            font-size: 1.25em;
        }

.skin-1 .main-container, .skin-1 .main-container > .main-container-inner {
    overflow: hidden;
}

.skin-1 .sidebar, .skin-1 .sidebar:before, .skin-1 .menu-min .nav-list > li.open > a, .skin-1 .nav-list > li > a {
    background: #34b5e2;
    color: #fff;
}

    .skin-1 .sidebar .nav-list > li {
        padding-bottom: 1px;
        border-top: 0;
        border-bottom: 1px solid #34b5e2;
        background-image: url(../images/highbar.png);
        background-repeat: no-repeat;
        background-position: bottom center;
        display: block;
        min-height: 40px;
    }

.skin-1 .nav-list > li > ul.submenu {
    background-color: #82C0D6;
    border-top-color: #82C0D6;
}

.skin-1 .nav-list > li:hover > a, .skin-1 .nav-list > li.current a, .skin-1 .nav-list > li ul li.current a {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

.skin-1 .sidebar .nav-list > li:last-child {
    border-bottom: 0;
    background-image: none;
}

.nav-list > li > a, .skin-1 .main-container-inner .sidebar > ul > li a i {
    padding: 0 20px 0 0;
}

.submenu li {
    height: 36px;
}

.sidebar .nav-list .submenu > li > a {
    text-align: center;
    padding-left: 30px;
    display: block;
    height: 36px;
    line-height: 34px;
    padding: 0;
}
 .skin-1 .main-container-inner .sidebar.menu-min > ul > li a i {
    padding: 0 5px;
}

.nav-list > li > a {
    font-size: 16px;
    font-weight: 700;
    word-spacing: 2px;
    text-align: center;
    height:auto;
}
.nav-list .menu-btn,.menu-min  .nav-list .menu-btn{
    padding:8px 0;
    line-height: 20px;
}
.menu-min  .nav-list .menu-btn {
    padding:8px 20px;
}
.nav-list .menu-name{
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
}
.menu-min .nav-list .menu-name {
    font-size: 12px;
}
.skin-1 .menu-min .nav-list > li {
    width: 100px;
}
.menu-min .nav-list > li > .submenu {
    padding-top:0;
}

.skin-1 .menu-min .nav-list > li > a > .menu-text {
    background: #fff;
}

.skin-1 .menu-min .nav-list > li > a.dropdown-toggle > .menu-text {
    border-bottom-color: #fff;
}

.skin-1 .menu-min .nav-list > li > a > .menu-text, .skin-1 .menu-min .nav-list > li > ul.submenu {
    border-color: #fff;
    margin-top: 1px;
}

.skin-1 .menu-min .nav-list > li:hover > a {
    color: #000;
}

.skin-1 .main-container-inner .sidebar ul li a i {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding-right: 10px;
    text-shadow: none !important;
    font-size: 16px;
}

.menu-min .nav-list > li > a.dropdown-toggle > .menu-text {
    width: 175px;
}

.skin-1 .nav-list > li > a > .arrow {
    color: #fff;
}

.skin-1 .nav-list > li > a:hover > .arrow, .skin-1 .nav-list > li.current > a > .arrow {
    color: #000;
}

.skin-1 .sidebar {
    /*box-shadow: 3px 3px 10px 0px #666;*/
    z-index:100;
}

    .skin-1 .sidebar .submenu::before, .skin-1 .sidebar .submenu li::before {
        content: none;
    }

.skin-1 .nav-list > li > .submenu > li > a {
    background: #82C0D6;
    color: #fff;
}

.skin-1 .nav-list > li > .submenu > li.current > a {
    background: #fff;
    color: #000;
}

.skin-1 .nav-list > li > .submenu > li > a:hover {
    background: transparent;
    color: #000;
}

.skin-1 .nav-list > li > .submenu > li.current > a:hover {
    background: #fff;
    color: #000;
}

.skin-1 .nav-list > li .submenu > li > a .sidebar .head {
    font-size: 16px;
    font-weight: bold;
    padding: 0 20px;
    word-spacing: 2px;
    height: 38px;
    line-height: 36px;
    display: inline-block;
    overflow: hidden;
    margin-bottom: 0;
}
.menu-min .nav-list>li>.submenu li>a {
    padding-left: 0;
}
.sidebar .menu-min, .sidebar.menu-min::before {
    width: 100px;
}
.menu-min .nav-list>li>.submenu {
    width: 140px;
    left: 100px;
}
 .nav-list > li > a {
     padding: 0;
 }

 .menu-min.sidebar+.main-content {
     margin-left: 100px;
 }

.sidebar .head .wrap {
    padding: 0 20px;
}

.sidebar .head .menu-text {
    padding-left: 10px;
}

.breadcrumb {
    padding: 4px 0;
    margin-top: 4px;
}

.tablelist {
    min-height: 360px;
    margin: 0 auto;
    width: 100%;
}
/*通用面包屑*/
.m-crm {
    height: 32px;
    line-height: 32px;
    margin: 0px auto;
    padding-left: 12px;
    font-size: 14px;
    background: #fff;
    border-bottom: 2px solid #d3dae3;
}

    .m-crm li {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        margin-left: 5px;
    }

        .m-crm li, .m-crm li a, .m-crm .divider {
            color: #212121;
        }

            .m-crm li a:hover {
                text-decoration: none;
            }

/*文字大小*/
.table thead th .th-inner, .fixed-table-body .table.table-hover {
    font-size: 12px;
}

.tablelist .bootstrap-table .table.table-hover thead tr {
    background: #34b5e2;
}



.report-tab {
    padding: 15px 10px;
    min-width: 1000px;
}

    .report-tab .table {
        table-layout: fixed;
        word-break: break-all;
    }

.report {
    font-size: 12px;
}

    .report td {
        padding: 0 5px 4px 5px;
    }

.report-input {
    width: 120px;
    padding-left: 6px;
    height: 26px;
    line-height: 22px !important;
    border: 1px solid #ddd;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.report-btn-1 {
    width: 67px;
    padding: 4px 5px 4px 20px;
    color: #fff;
    border: 1px solid #0062A5;
    border-radius: 2px;
    margin-right: 10px;
    background: #087ACA url(../images/loginimgs/search.png) no-repeat 8px 3px;
}

.report-info-list {
    height: 27px;
    display: block;
    clear: both;
}

.report-info-list-one {
    width: 107px;
    height: 27px;
    float: left;
}

    .report-info-list-one a {
        width: 105px;
        height: 27px;
        line-height: 26px;
        border: 1px solid #ccc;
        background: #fff;
        color: #333;
        text-align: center;
        border-radius: 4px 4px 0 0;
        display: block;
    }

        .report-info-list-one a.current {
            width: 105px;
            height: 27px;
            border: 1px solid #34B5E2;
            background: #34B5E2;
            color: #fff;
        }

.report-info-tab {
    border-top: 1px solid #ddd;
}

.report-info-pad {
    padding: 10px 20px;
}

    .report-info-pad table {
        font-size: 12px;
    }

.report-info-kd {
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    font-size: 12px;
}

    .report-info-kd td {
        height: 30px;
        line-height: 30px;
        padding: 0 4px;
        border-left: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }

    .report-info-kd thead {
        background: #F1F0F0;
    }

.project-tab {
    padding: 15px 20px;
    min-width: 1000px;
}

.project {
    font-size: 12px;
    padding-bottom: 5px;
}

    .project td {
        padding: 0 5px 14px;
    }

.project-input {
    width: 120px;
    padding-left: 6px;
    height: 26px;
    line-height: 22px !important;
    border: 1px solid #ddd;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.project-btn-1 {
    width: 67px;
    padding: 4px 5px 4px 24px;
    color: #fff;
    border: 1px solid #0062A5;
    background: #087ACA url(../images/loginimgs/search.png) no-repeat 8px 3px;
    border-radius: 2px;
    margin-right: 10px;
}

.project-info, .inquiry-info {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.project-info-list, .inquiry-info-list {
    height: 27px;
    display: block;
}

    .project-info-list ul, .inquiry-info-list ul {
        clear: both;
        display: block;
    }

    .project-info-list li, .inquiry-info-list li {
        height: 27px;
        float: left;
    }

        .project-info-list li a, .inquiry-info-list li a {
            padding: 0 4px;
            height: 27px;
            line-height: 26px;
            border-top: 1px solid #ccc;
            border-right: 1px solid #ccc;
            border-left: 1px solid #ccc;
            background: #fff;
            color: #333;
            text-align: center;
            border-radius: 4px 4px 0 0;
            display: block;
        }

            .project-info-list li a.current, .inquiry-info-list li a.current {
                height: 27px;
                border-left: 1px solid #34B5E2;
                border-right: 1px solid #34B5E2;
                border-top: 1px solid #34B5E2;
                background: #34B5E2;
                color: #fff;
            }


.project-info-pad {
    padding: 10px 20px;
}

.project-info-bj {
    height: 4px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.inquiry-info-tab {
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
.inquiry-info-tab > div {
    font-size: 12px;
    display: none;
}

.project-info-tab div {
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    font-size: 12px;
    display: none;
}

.project-info-xx {
    border-top: 1px solid #ddd;
}

    .project-info-xx td {
        height: 30px;
        line-height: 30px;
        padding: 0 4px;
        border-left: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        font-size: 12px;
    }

.table-title {
    background: #34B5E2;
    margin: 10px 0 0 0;
    padding: 5px;
    color: #fff;
}

.project-btn {
    margin: 0 auto;
    text-align: center;
    padding-top: 8px;
    font-size: 13px;
}

.project-btn-2 {
    width: 82px;
    padding: 4px 5px 4px 18px;
    color: #fff;
    border: 1px solid #006009;
    background: #027617 url(../images/loginimgs/search.png) no-repeat 6px -21px;
    border-radius: 2px;
    margin-right: 10px;
}

.project-btn-3 {
    padding: 4px 5px 4px 20px;
    color: #fff;
    background: #027617 url(../images/loginimgs/search.png) no-repeat 4px -70px;
    border: 1px solid #006009;
    border-radius: 2px;
    margin-right: 10px;
}

.project-btn-3 {
    width: 80px;
}

.project-btn-4 {
    width: 100px;
}

.business {
    font-size: 12px;
}

    .business td {
        padding: 0 5px 14px;
    }

.business-input {
    width: 120px;
    padding-left: 6px;
    height: 26px;
    line-height: 22px !important;
    border: 1px solid #ddd;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

    .business-input:focus {
        outline: none;
    }

.business-btn-1 {
    width: 67px;
    padding: 4px 5px 4px 20px;
    color: #fff;
    background: #087ACA url(../images/loginimgs/search.png) no-repeat 8px 3px;
    border: 1px solid #0062A5;
    border-radius: 2px;
    margin-right: 10px;
}

.detail-input {
    width: 100%;
    padding-left: 6px;
    height: 26px;
    line-height: 22px !important;
    border: 1px solid #ddd;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.inquire-tab {
    padding: 15px 20px;
    min-width: 1000px;
}

.inquire {
    font-size: 12px;
}

    .inquire td {
        padding: 0 6px 14px;
    }

.inquire-input {
    width: 120px;
    padding-left: 6px;
    height: 26px;
    border: 1px solid #ddd;
    line-height: 20px !important;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.inquire-exp {
    text-align: center;
}

    .inquire-exp a {
        color: #0066FF;
        display: block;
    }

.inquire-btn {
    margin: 0 auto;
    padding-bottom: 15px;
    font-size: 13px;
}

.inquire-btn-1 {
    width: 67px;
    padding: 3px 5px 3px 20px;
    color: #fff;
    border: 1px solid #0062A5;
    background: #087ACA url(../images/loginimgs/search.png) no-repeat 6px 2px !important;
    border-radius: 2px;
    margin-right: 10px;
}

.inquire-btn-2 {
    width: 82px;
    padding: 3px 5px 3px 18px;
    color: #fff;
    background: #027617 url(../images/loginimgs/search.png) no-repeat 4px -21px;
    border: 1px solid #006009;
    border-radius: 2px;
    margin-right: 10px;
}

.inquire-btn-3 {
    width: 80px;
    padding: 3px 5px 3px 18px;
    color: #fff;
    background: #BCAA02 url(../images/loginimgs/search.png) no-repeat 2px -47px;
    border: 1px solid #A49303;
    border-radius: 2px;
    margin-right: 10px;
}

.report-info {
    width: 100%;
    display: block;
}

.layer_notice, .layer_noticed {
    background: #fff;
    padding: 20px;
}

.layer_noticed {
    padding: 0;
}

.layer_notice label {
    font-weight: 500;
}

.layer_notice h2, .layer_noticed h2 {
    border-bottom: 2px solid #33b3e2;
    height: 28px;
    line-height: 27px;
    margin: 0 0 10px 0;
}

.layer_noticed h2 {
    border-bottom: 0;
    font-size: 14px;
    margin-bottom: 0;
    color: #fff;
    padding-left: 10px;
    background: #34b5e2;
}

    .layer_notice h2:after, .layer_noticed h2:after {
        clear: both;
    }

    .layer_notice h2 i, .layer_noticed h2 i {
        font-size: 14px;
        color: #ccc;
        cursor: pointer;
    }

    .layer_noticed h2 i {
        color: #fff;
        margin: 6px;
    }

    .layer_notice h2 span, .layer_noticed h2 span {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-size: 15px;
        background: #33b3e2;
        padding: 0 10px;
        color: #fff;
        float: left;
    }

.layer_notice table, .layer_noticed table {
    width: 100%;
    font-size: 14px;
}

.layer_noticed table {
    width: 90%;
}

.layer_notice table tr td {
    padding: 2px 6px;
}

    .layer_notice table tr td.left {
        /*width: 110px;*/
        text-align: left;
    }

.layer_notice table.sm tr td {
    width: 70px;
}

.layer_notice table tr td input[type=text] {
    width: 160px;
    height: 26px;
    line-height: 20px !important;
    border: 1px solid #DDDBDC;
    color: #3B3B3C;
    padding: 2px 5px;
}

.layer_notice table.sm tr td input[type=text] {
    width: 100px;
}

.layer_notice table tr td button + button {
    margin-left: 20px;
}

.layer_notice table tr td .btn-red, .layer_notice table tr td .btn-blue, .layer_notice table tr td .btn-green, .layer_notice table tr td .btn-green1, .paramdel, .layer_noticed table tr td .btn-green {
    padding: 4px 20px;
    color: #fff;
    font-size: 14px;
    border-radius: 2px;
}

.layer_notice table tr td .btn-red, .paramdel {
    background: #A10513;
    border: 1px solid #80010C;
}

.layer_notice table tr td .btn-green, .layer_noticed table tr td .btn-green {
    background: #027702;
    border: 1px solid #0A7702;
}

.layer_notice table tr td .btn-blue {
    background: #0A8AD1;
    border: 1px solid #0061A5;
}

.layer_notice table tr td .btn-green1 {
    background: #038d40;
}

.layer_feedback {
    background: #fff;
    padding: 20px;
}

    .layer_feedback h2 {
        border-bottom: 2px solid #33b3e2;
        height: 28px;
        line-height: 27px;
        margin: 0 0 10px 0;
    }

        .layer_feedback h2:after {
            clear: both;
        }

        .layer_feedback h2 i {
            font-size: 14px;
            color: #cccbc9;
            cursor: pointer;
        }

        .layer_feedback h2 span {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            font-size: 16px;
            line-height: 1.4;
            background: #33b3e2;
            padding: 0 10px;
            color: #fff;
            line-height: 27px;
            float: left;
        }

    .layer_feedback table {
        width: 100%;
    }

        .layer_feedback table tr td {
            padding: 2px 6px;
        }

            .layer_feedback table tr td.left {
                width: 100px;
            }

            .layer_feedback table tr td button + button {
                margin-left: 20px;
            }

            .layer_feedback table tr td .btn-red, .layer_feedback table tr td .btn-blue {
                padding: 4px 20px;
                color: #fff;
                font-size: 14px;
                border: 1px solid #0B6DAE;
            }

            .layer_feedback table tr td .btn-red {
                background: #027903;
            }

            .layer_feedback table tr td .btn-blue {
                background: #097ACA;
            }

            .layer_feedback table tr td .input {
                width: 276px;
                border: 1px solid #DDDBDC;
                font-size: 14px;
                color: #353535;
            }

.tc_textarea {
    width: 276px;
    height: 90px;
    border: 1px solid #DDDBDC;
    font-size: 14px;
    color: #353535;
}

.sc_input {
    width: 230px;
    height: 26px;
    line-height: 26px;
    border: 1px solid #DDDBDC;
    font-size: 14px;
    color: #B9B8B6;
}

.sc-btn {
    width: 78px;
    height: 26px;
    line-height: 24px;
    background: #007A37;
    border: 1px solid #026630;
    font-size: 14px;
    color: #fff;
}

.f-tc {
    text-align: center;
}

.accepted-btn-2 {
    width: 67px;
    padding: 4px 5px 4px 20px;
    color: #fff;
    background: #027617 url(../images/loginimgs/search.png) no-repeat 8px -96px;
    border: 1px solid #006009;
    border-radius: 2px;
    margin-right: 10px;
}

.input_span {
    padding: 0 6px;
}



.detail {
    width: 98%;
    margin: 10px auto;
    border: 1px solid #ddd;
    color: #333;
}

    .detail h3 {
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        background: #41BFE8;
        margin: 0;
        font-size: 16px;
        padding-left: 20px;
        color: #fff;
    }

    .detail table {
        margin-top: 10px;
        table-layout: fixed;
        word-break: break-all;
        word-wrap: break-word;
    }

    .detail td {
        padding: 10px 0 10px 10px;
        font-size: 12px;
    }

.mar_t_20 {
    margin-top: 20px;
}

.matter {
    width: 100%;
    clear: both;
    display: table;
}

.f-fl {
    float: left;
}

.mar-tb-3 {
    margin: 3px 0;
}

.mar-r-3 {
    margin-right: 3%;
}

.matter-tab {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin-left: 1%;
    margin-bottom: 10px;
}

    .matter-tab thead {
        background: #F0F0F0;
    }

    .matter-tab td {
        border-left: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 6px;
        text-align: left;
    }

.matter-btn-1 {
    padding: 0 5px 0 25px;
    height: 27px;
    color: #fff;
    background: #027617 url(../images/loginimgs/search.png) no-repeat 8px -70px;
    border: 1px solid #006009;
    border-radius: 2px;
    margin-right: 10px;
}

.matter-btn-2 {
    width: 74px;
    height: 27px;
    background: #077ACA;
    color: #fff;
    border: 1px solid #0061A5;
    border-radius: 2px;
    margin-right: 10px;
}

.matter-bz {
    width: 98%;
    margin: 20px auto;
    border: 1px solid #ddd;
}

.matter-sr {
    width: 100%;
    height: 84px;
    line-height: 21px;
    padding: 4px 6px;
    margin: 8px 0;
}

.matter-btn {
    margin: 15px auto;
    text-align: center;
}

.font_s_14 {
    font-size: 14px;
}

.indiv {
    margin: 0 auto;
    width: 100%;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #000;
}

    .indiv .bgh2 {
        text-align: left;
        background: #47b4e1;
        font-size: 14px;
        color: #fff;
        padding: 5px 10px;
    }

    .indiv .indivinput {
        margin: 10px;
    }

.input-sty {
    font-size: 10px;
    margin-right: 12px;
    padding: 5px 2px;
    height: 25px;
    line-height: 25px;
}

.input-sty-longinput {
    font-size: 10px;
    width: 290px;
    padding: 5px 2px;
    height: 25px;
    line-height: 25px;
}

.margnin-bot {
    margin-bottom: 10px;
}

.indiv select {
    width: 140px;
}

.project-btn-noima {
    width: 67px;
    height: 28px;
    line-height: 20px;
    background: #087ACA;
    color: #fff;
    border: 1px solid #0062A5;
    border-radius: 2px;
}

.button-lan {
    background: #0a99d6;
    border: 1px solid #0062a5;
    border-radius: 2px;
}

.button-green {
    background: #087700;
    border: 1px solid #027617;
    color: #fff;
    height: 25px;
}

.button-red {
    background: #a40312;
    border: 1px solid #80010c;
    height: 28px;
    line-height: 20px;
    border-radius: 2px;
}

.box-shadow-lan {
    -moz-box-shadow: 1px 1px 1px #47b4e1 inset; /* For Firefox3.6+ */
    -webkit-box-shadow: 1px 1px 1px #47b4e1 inset; /* For Chrome5+, Safari5+ */
    box-shadow: 1px 1px 1px #47b4e1 inset; /* For Latest Opera */
}

.box-shadow-green {
    -moz-box-shadow: 1px 1px 1px #41b257 inset; /* For Firefox3.6+ */
    -webkit-box-shadow: 1px 1px 1px #41b257 inset; /* For Chrome5+, Safari5+ */
    box-shadow: 1px 1px 1px #41b257 inset; /* For Latest Opera */
}

.kc-checkbox {
    width: 18px;
    vertical-align: middle;
    margin-top: 0;
}

.layer_notice table tr td input .error-border, .error-border, .layer_notice table tr td input[type=text].error-border {
    border: 1px solid #f00;
}



.kc-xz {
    width: 18px;
    vertical-align: middle;
    margin-bottom: 0;
}

.gather {
    font-size: 12px;
    width: 100%;
}

    .gather thead {
        background: #34B5E2;
        color: #fff;
    }

    .gather td {
        padding: 5px 20px;
        border-left: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }

        .gather td a {
            color: #34B5E2;
        }

.xj-report {
    text-align: right;
}

.xj-report-btn {
    margin: 15px auto;
    text-align: center;
}

.xj-btn-lan {
    background: #077BCA;
    padding: 3px 16px;
    color: #fff;
    border: 1px solid #4289BB;
    border-radius: 2px;
}

.ck-report {
    width: 98%;
    margin: 10px auto;
    color: #333;
}

.ck-report-btn {
    margin: 15px auto 5px;
}

.ck-btn-qlan {
    background: #4DB5F2;
    padding: 3px 12px;
    color: #fff;
    border: 1px solid #6EA4CA;
    border-radius: 2px;
}

.color-red {
    color: #f80606;
    padding-left: 3px;
}

.f-tr {
    text-align: right;
}

.data {
    width: 96%;
    margin: 10px auto;
    border: 1px solid #ddd;
    color: #333;
    min-width: 1100px;
}

    .data table {
        margin-top: 10px;
    }

    .data td {
        padding: 0 0 10px 6px;
        font-size: 12px;
    }

.params {
    margin-top: 10px;
}

.params-fl {
    position: relative;
    float: left;
    width: 240px;
    margin-right: -240px;
}

    .params-fl .t-title {
        height: 24px;
        background: #36b5e2;
    }

    .params-fl .t-body {
        border: 1px solid #36b5e2;
        height: 472px;
        overflow-x: hidden;
        overflow-y: auto;
        background: #fff;
    }

.params-fr {
    float: right;
    width: 100%;
}

    .params-fr .t-title {
        margin-left: 250px;
    }

    .params-fr .t-body {
        padding: 10px 0 10px 4px;
        border: 1px solid #ddd;
        background: #fff;
    }

.f-tl {
    text-align: left;
}

.project-btn-4 {
    padding: 4px 5px 4px 24px;
    color: #fff;
    background: #027617 url(../images/loginimgs/search.png) no-repeat 8px -68px;
    border: 1px solid #006009;
    border-radius: 2px;
    margin-right: 10px;
}

.unfold {
    color: #34b5e2;
    font-size: 18px;
    margin-left: 8px;
    cursor: pointer;
}

.mar-t-20 {
    margin-top: 20px;
}

.errorpage {
    background: url(../images/errorpage_bg.png) repeat-x;
    height: 100%;
    min-height: 600px;
    padding: 20px 0;
}

    .errorpage .errorwrap {
        width: 727px;
        margin: 0 auto;
    }

        .errorpage .errorwrap .icloud {
            background: url(../images/icloud.png) no-repeat;
            height: 215px;
        }

        .errorpage .errorwrap .icloud_title {
            background: url(../images/icloud_title.png) no-repeat;
            width: 150px;
            height: 150px;
        }

        .errorpage .errorwrap h2 {
            color: #ea5d2c;
            font-size: 16px;
            margin-left: 10px;
        }

        .errorpage .errorwrap h3 {
            font-size: 14px;
            margin-left: 10px;
        }

.text-color-red {
    color: #f00;
    vertical-align: middle;
    margin-left: 1px;
}

.xj-report .detail-input {
    width: 120px;
}

.page-list .btn-group.dropup .btn {
    padding: 6px 12px;
}

table tbody tr.success, table tbody tr.success td {
    background: #d0e9c6 !important;
}

.fixed-table-header .table thead tr {
    background: #34b5e2;
}

.fixed-table-container {
    padding-bottom: 0 !important;
    border-bottom: 0;
    border-top: 0;
}

    .fixed-table-container input[type=checkbox], .fixed-table-container input[type=radio] {
        vertical-align: middle;
    }

.ico-collapse {
    font-size: 18px;
    color: #fff;
    margin: 7px 0;
    cursor: pointer;
}

.filterArea {
    font-size: 12px !important;
}

    .filterArea p {
        margin-left: 4px;
    }

        .filterArea p a {
            margin-left: 6px;
            color: #333;
        }

            .filterArea p a.current {
                font-weight: 700;
                color: #f00;
            }

        .filterArea p .inputgroup {
            margin-left: 6px;
        }

        .filterArea p input {
            width: 60px;
        }

.inquiry-tab .tab-content {
    height: auto;
}

.fixed-table-loading {
    border-bottom: 1px solid #ddd;
}

.layui-layer-content .alert {
    margin-bottom: 0;
}

.welcome {
    background: url(../images/welcomes_02.png) no-repeat center bottom #1bbef9;
    overflow: hidden;
}

.welcome-title {
    height: 20px;
    background: #1bbef9;
}

.welcome-body {
    background: url(../images/welcomes_333.png) no-repeat;
    width: 1067px;
    margin: 0 auto;
    position: relative;
    height: 606px;
}

.btns {
    text-align: center;
    font-size: 16px;
    background: #81be59;
    line-height: 38px;
    color: #fff;
    width: 120px;
    display: inline-block;
    position: absolute;
}

.add-xunjia {
    top: 19px;
    left: 43px;
}

.add-lixiang {
    top: 95px;
    left: 43px;
}

.project-review {
    top: 328px;
    left: 709px;
}

.report-send {
    top: 411px;
    left: 902px;
}

.detail.no-border {
    border: 0;
}

    .detail.no-border table {
        margin-top: 0;
    }

.no-padding-right.no-padding-left.table tbody > tr > td {
    padding: 6px 0px 6px 2px;
}

.no-padding-right.no-padding-left tr td label {
    text-align: right;
}

.title-body .col-md-3, .title-body .col-md-1, .title-body .col-md-11 {
    padding-right: 4px;
}

.div-title.title-info .title-body .col-sm-11, .div-title.title-info .title-body .col-sm-10 {
    padding-left: 0;
    padding-right: 0;
}

.bootstrap-table .fixed-table-container .fixed-table-header .table thead tr th {
    text-align: center !important;
}

.layer_notice.sm {
    padding: 10px;
}

    .layer_notice.sm .col-xs-2 {
        padding-left: 0;
        padding-right: 0;
    }

.welcome .app {
    position: absolute;
    right: 0;
    top: 60px;
}

    .welcome .app .app-code {
        display: inline-block;
        margin-left: 20px;
    }

    .welcome .app .ios-code, .welcome .app .andriod-code {
        background: url(../images/ios-code.png) no-repeat;
        width: 99px;
        height: 98px;
        margin: 0 auto;
        display: inline-block;
    }

    .welcome .app .andriod-code {
        background: url(../images/andriod-code.png) no-repeat;
    }

    .welcome .app .ios-logo, .welcome .app .android-logo {
        margin-top: 10px;
        width: 99px;
        padding-left: 40px;
        color: #2875b4;
        font-weight: 700;
    }

    .welcome .app .ios-logo {
        background: url(../images/ios-logo.png) no-repeat;
    }

    .welcome .app .android-logo {
        background: url(../images/android-logo.png) no-repeat;
    }

    .welcome .app .title {
        color: #1BBEF9;
    }

.welcome .welcome-title {
    color: #fff;
    position: absolute;
    top: 420px;
    left: 50%;
    margin-left: -70px;
    width: 140px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    font-weight: 700;
}

.detail.no-bordered {
    border: 0;
}

    .detail.no-bordered .project-info-xx {
        margin-bottom: 10px;
    }

        .detail.no-bordered .project-info-xx td {
            border: 1px solid #ddd;
        }

            .detail.no-bordered .project-info-xx td label {
                margin-bottom: 0;
            }
/**添加询价**/
.project-info-tab.inqy div {
    border: 0;
    display: block;
}

.project-info-tab.inqy > div {
    display: none;
}

.inquiry tr td {
    padding: 4px 2px;
    line-height: 24px;
}

    .inquiry tr td.left {
        width: 56px;
    }

    .inquiry tr td input[type=text] {
        width: 100%;
        height: 24px;
    }

.allquiry {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

    .allquiry tr td {
        padding: 4px;
        border: 1px solid #ccc;
    }

.city-select-tab {
    width: 300px;
    height: 35px;
    background: #f0f0f0;
}

.selectcity {
    display: none;
    position: absolute;
}

    .selectcity a {
        float: left;
        display: inline;
        margin-bottom: -1px;
        padding: 8px 20px;
        color: #4D4D4D;
        text-align: center;
        outline: 0;
    }

.city-select-tab .current {
    background: #fff;
    color: #f60;
}

.city-select {
    width: 300px;
    background: #fff;
    font-size: 12px;
    border: 1px solid #ccc;
}

    .city-select a {
        line-height: 2;
        float: left;
        display: inline-block;
        color: #4D4D4D;
        padding: 0;
        outline: 0;
        text-decoration: none;
        white-space: nowrap;
        width: 33%;
    }
.allquiry tr td  label {
    margin-right: 20px;
    margin-bottom: 0;
    font-weight:normal;
}

#quickInquiry .inquiry tr td input[type=text]{
    border:1px solid #ccc;
}
.allquiry tr td input[type=text] {
    width: 100%;
    border:1px solid #ccc;
}

    .allquiry tr td input[type=text].error-border,#quickInquiry .inquiry tr td input[type=text].error-border {
        border: 1px solid #f00;
    }

.allquiry tr td span input[type=text] {
    width: 60%;
}

.allquiry tr td input[type=text].sm {
    width: 120px;
}
.allquiry tr td  textarea {
    width: 100%;
    overflow: auto;
    min-height: 80px;
}