@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="font-size:14px;color:red;margin-top:300px;" align="center">
        您好，您没有足够的权限，请联系管理员！
    </div>
</body>
</html>
