@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<script>
    $(function() {
        $("#BtnSubmit").click(DownLoad);
    });

    function DownLoad() {
        var checkCount = 0;
        $("input[name='DownLoadInfo']").each(function () {
            if ($(this).prop("checked"))
                checkCount++;
        });
        if (checkCount <= 0) {
            parent.layer.alert('请至少选择一项进行下载', { icon: 0 });
            return;
        }
        $("#form1").submit();
    }
</script>
<style type="text/css">
    #dl{ margin-top:5px;margin-left:80px;}
    #dl li{ padding:4px;}
    #dl span{  padding-right:30px; }
     #dl li button{ margin-top:10px;padding: 4px 6px; }
</style>
<form id="form1" action="/IntegratedQuery/GetFileUrl">
    <input type="hidden" name="projectId" value="@ViewBag.ProjectId" />
    <input type="hidden" name="projectNo" value="@ViewBag.ProjectNo" />
    <ul id="dl">
        <li><span>报告资料</span> <input type="checkbox" value="ReportInfo" id="DownLoadInfo" name="DownLoadInfo" /></li>
        <li><span>外采资料</span> <input type="checkbox" value="OutTaskInfo" id="DownLoadInfo" name="DownLoadInfo" /></li>
        <li><span>链家资料</span> <input type="checkbox" value="LianJiaInfo" id="DownLoadInfo" name="DownLoadInfo" /></li>
        <li><span></span><button type="button" id="BtnSubmit" name="BtnSubmit" class="btn btn-primary">下载</button></li>
    </ul>
</form>
