@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<ul class="m-crm">
    <li><a href="@Url.Action("Welcome", "Home")"><i class="fa fa-home"></i>&nbsp;&nbsp;首页</a> <span class="divider">&gt;</span></li>
    <li><a href="@Url.Action("Index", "ProjectReview")">&nbsp;&nbsp;项目审核</a> <span class="divider">&gt;</span></li>
    <li>查看历史报告</li>
</ul>

<div style="width: 100%; height:650px; margin-top:10px;">
    @Html.Raw(ViewBag.EditorHtml)
</div>

<script type="text/javascript">
    function AfterDocumentOpened() {
        document.getElementById("pc").SetEnableFileCommand(3, false);  //禁止保存
        document.getElementById("pc").SetEnableFileCommand(4, false);  //禁止另存
    }
</script>