<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Base.css" rel="stylesheet" />
    <link href="~/Content/plug-in/easyui/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/plug-in/easyui/themes/icon.css" rel="stylesheet" />
    <link href="~/Content/css/infowrap.css" rel="stylesheet" />
    <link href="~/Content/css/common.css" rel="stylesheet" />
    <link href="~/Content/css/loadTips/loadTips.css" rel="stylesheet" />
    <script src="~/Content/plug-in/easyui/jquery.min.js"></script>
    <script src="~/Content/plug-in/jquery-validation/jquery.metadata.js"></script>
    <script src="~/Content/plug-in/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/Content/plug-in/jquery-validation/messages_cn.js"></script>
    <script src="~/Content/plug-in/easyui/jquery.easyui.min.js"></script>
    <script src="~/Content/plug-in/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script src="~/Content/plug-in/layer/layer.min.js"></script>
    <script src="~/Content/plug-in/js/validataboxextend.js"></script>
    <script src="~/Scripts/Base.js"></script>
</head>
<body class="easyui-layout">
    @RenderBody()
</body>
</html>