@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>PEP</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
    <!--jquery-->
    <script type="text/javascript" src="~/Content/plug-in/jquery/jquery-1.10.2.min.js"></script> 
    <!--jquery.validate-->
    <script type="text/javascript" src="~/Content/plug-in/jquery-validation/jquery.validate.min.js"></script>
    <!--jquery.validate.messages-->
    <script type="text/javascript" src="~/Content/plug-in/jquery-validation/messages_cn.js"></script>
    <!--layer-->
    <script type="text/javascript" src="~/Content/plug-in/layer/layer.js"></script>
    <script type="text/javascript" src="~/Content/plug-in/laydate/laydate.js"></script>
    <!--bootstrap-->
    <script type="text/javascript" src="~/Content/plug-in/bootstrap/bootstrap.min.js"></script>
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <!--[if IE 7]>
    <link rel="stylesheet" href="~/Content/css/font-awesome-ie7.min.css">
    <![endif]-->
    <link href="~/Content/plug-in/bootstrap/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <!--bootstrap-table-->
    <script type="text/javascript" src="~/Content/plug-in/bootstrap-table/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="~/Content/plug-in/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>
    <link href="~/Content/plug-in/bootstrap-table/bootstrap-table.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/style.css" />
    <!--[if lt IE 9]>
    <script type="text/javascript"  src="~/Content/plug-in/bootstrap.extends/html5shiv.min.js"></script>
    <script type="text/javascript"  src="~/Content/plug-in/bootstrap.extends/respond.min.js"></script>
    <![endif]-->
</head>
<body class="bc-white" style=" overflow-y: auto; ">
    @RenderBody()
   
    
    <Script>
        var _showloadingTip;
        function showLoadingTips() {
            _showloadingTip = layer.load(2, {
                shade: [0.1, '#000']
            });
        }
        function hideLoadingTips() {
            layer.close(_showloadingTip);
        }
        function MathRand() {
            var Num = "";
            for (var i = 0; i < 6; i++) {
                Num += Math.floor(Math.random() * 10);
            }
            return Num;
        }
    </Script>
</body>
</html>

