@{
    ViewBag.Title = "错误";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="errorpage">
    <div class="errorwrap">
        <div class="icloud"></div>
        <div class="clearfix">
            <div class="pull-left icloud_title"></div>
            <div class="pull-left">
                @*<h2>对不起!!! </h2>*@
                <h2>您好，由于您人品大爆发，目前页面暂时无法访问！</h2>
                <h2>我们正以光速进行系统修复 ，请您耐心等侯！</h2>
            </div>
        </div>
    </div>
</div>
