<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="casClientConfig" type="DotNetCasClient.Configuration.CasClientConfiguration, DotNetCasClient" />
    <section name="resConfig" type="System.Configuration.SingleTagSectionHandler" />
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
    <section name="xunjiaCitys" type="System.Configuration.NameValueSectionHandler" />
    <section name="BaseApiData" type="System.Configuration.DictionarySectionHandler" />
    <section name="HouseType" type="System.Configuration.DictionarySectionHandler" />
    <section name="DtgjApiData" type="System.Configuration.DictionarySectionHandler" />
    <section name="FeedbackApiData" type="System.Configuration.DictionarySectionHandler" />
    <section name="RabbitMQConfig" type="System.Configuration.SingleTagSectionHandler" />
    <section name="RabbitMQBusinessConfig" type="System.Configuration.SingleTagSectionHandler" />
    <section name="RabbitWaicaiMQConfig" type="System.Configuration.SingleTagSectionHandler" />
  </configSections>
  <!--RabbitMQWaicaiConfig 用户新增发消息通知外采系统-->
  <RabbitWaicaiMQConfig HostName="182.92.214.87" Port="5672" UserName="pepuser" Password="gh001" QueueName="WaicaiUserAdd" Exchange="amq.topic" />
  <!--RabbitMQ 权限自动刷新配置-->
  <RabbitMQConfig HostName="182.92.214.87" Port="5672" UserName="pepuser" Password="gh001" QueueName="PePOnlineDataWritetest" Exchange="amq.topic" />
  <!--RabbitMQ在线业务配置-->
  <RabbitMQBusinessConfig ReadHostName="182.92.214.87" ReadPort="5672" ReadTopicName="PePOnlineDataRead" ReadUser="pepuser" ReadPassWord="gh001" WriteHostName="182.92.214.87" WritePort="5672" WriteTopicName="PePOnlineDataWritetest" WriteUser="pepuser" WritePassWord="gh001" />
  <connectionStrings>
    <!-- PEP只读库 -->
    <add name="PepReadConnection" connectionString="Data Source=192.168.3.250;port=3306;Initial Catalog=pep_lite;user id=root;password=gh001;charset=utf8" providerName="MySql.Data.MySqlClient" />
    <!-- PEP只写库 -->
    <add name="PepWriteConnection" connectionString="Data Source=192.168.3.250;port=3306;Initial Catalog=pep_lite;user id=root;password=gh001;charset=utf8" providerName="MySql.Data.MySqlClient" />
    <!-- CRM只写库 -->
    <add name="PermissWrite" connectionString="Data Source=182.92.219.161;port=3306;Initial Catalog=peacock_database_crm;user id=root;password=gh001;" providerName="MySql.Data.MySqlClient" />
    <!-- CRM只读库 -->
    <add name="PermissRead" connectionString="Data Source=182.92.219.161;port=3306;Initial Catalog=peacock_database_crm;user id=root;password=gh001;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <!--配置询价城市-->
  <xunjiaCitys>
    <add key="北京市" value="beijing" />
    <add key="广州市" value="guangzhou" />
    <add key="天津市" value="tianjin" />
    <add key="成都市" value="chengdu" />
    <add key="南京市" value="nanjing" />
    <add key="石家庄市" value="shijiazhuang" />
    <add key="青岛市" value="qingdao" />
    <add key="银川市" value="yinchuan" />
    <add key="杭州市" value="hangzhou" />
    <add key="厦门市" value="xiamen" />
    <add key="福州市" value="fuzhou" />
    <add key="上海市" value="shanghai" />
    <add key="西安市" value="xian" />
    <add key="太原市" value="taiyuan" />
    <add key="南昌市" value="nanchang" />
  </xunjiaCitys>
  <!--基础库API配置-->
  <BaseApiData>

   <add key="APIUrl" value="http://123.56.104.193/" />
    <add key="UserName" value="renda" />
    <add key="PassWord" value="renda888" />
  </BaseApiData>
  <HouseType>
    <add key="一居室" value="1" />
    <add key="二居室" value="2" />
    <add key="三居室" value="3" />
    <add key="四居室" value="4" />
    <add key="多室多厅" value="9" />
    <add key="其他" value="0" />
  </HouseType>
  <!--询价API配置-->
  <DtgjApiData>
    <add key="APIUrl" value="http://api.xunjia.yunfangdata.com" />
    <add key="UserName" value="lygzadmin" />
    <add key="PassWord" value="lygzadmin" />
  </DtgjApiData>
  <!--反馈API配置-->
  <FeedbackApiData>
    <add key="APIUrl" value="http://feedback.yunfangdata.com/Feedback/OtherFeedback" />
    <add key="UserKeyId" value="e21623e1c6ff4775a6c51aeffb8d6820" />
    <add key="UserAccessKey" value="0f5acab4edcb4ba48271c1dee84b0b41" />
    <add key="CityName" value="北京市" />
  </FeedbackApiData>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--重登录转向页面-->
    <add key="ReLogInUrl" value="http://local.pep.com/" />
    <!--Memcached服务地址-->
    <add key="MemcachedServer" value="192.168.3.250:11211" />
    <!--CRM数据缓存时间-->
    <add key="CrmCacheTime" value="3600" />
    <!--业务系统AppCode-->
    <add key="YewuAppCode" value="981a5e6bcfe246afb18f0830385adb15" />
    <!--内业系统API接口地址-->
    <add key="NeiYeAPI" value="http://local.inwork.com/Api" />
    <!-- 验证码发送间隔（秒） -->
    <add key="SecurityCodeInterval" value="60" />
    <!-- 验证码内容模版 -->
    <add key="Template" value="【评E评】尊敬的用户，您的验证码为{0}，请勿泄露给任何人。" />
    <!-- 短信平台 Id -->
    <add key="PlatformId" value="1" />
    <!-- 短信平台地址 -->
    <add key="PostUrl" value="http://182.92.219.161:8081/NotificationCenter-0.0.1/api/sms/send.do" />
    <!-- 验证码有效时间（秒） -->
    <add key="SecurityCodeExpires" value="300" />
    <!--外采资料下载接口-->
    <add key="OutTaskFileDownload" value="http://eiastest.yunfangdata.com/apis/GetTaskZip" />
    <!--外采地址-->
    <add key="EIASURL" value="http://eiastest.yunfangdata.com/" />
    <!--报告登陆地址-->
    <add key="CrmCacheTime" value="3600" />
    <add key="ReportLogInUrl" value="http://reporttest.yunfangdata.com/CasLoginUrl.aspx" />
    <!--报告制作地址-->
    <add key="ReportCreaUrl" value="http://reporttest.yunfangdata.com/flash/IndexDetail.html" />
    <!--报告生成系统服务地址-->
    <add key="ReportServiceUrl" value="http://reporttest.yunfangdata.com/WebService/PeacockReportWS.asmx" />
    <!--个人用户公司名称-->
    <add key="PersonalUserCompany" value="个人用户组" />
    <!--配置需要过滤的公司-->
    <add key="FilterCompanys" value="外采个人版专用公司,北京云房数据技术有限责任公司" />
    <!--个人用户默认角色-->
    <add key="PersonalUserRoles" value="一审,二审,三审" />
    <!--用于配置拥有公司审核和参数设置的登录的帐号,多个帐号用逗号隔开-->
    <add key="AdministratorList" value="评E评管理员" />
    <!--评E评数据名称-->
    <add key="PEPDataBase" value="pep_lite" />
    <!--权限系统登录地址-->
    <add key="PowerSysLoginUrl" value="http://local.powersys.com/" />
    <!--外采地址-->
    <add key="WaiCaiUrl" value="http://waicai.yunfangdata.com" />
    <!--报告生成系统日期格式-->
    <add key="ReportDateFormat" value="yyyy年M月d日,yyyy/M/d,yyyy-M-d,yyyy/MM/dd HH/mm/ss,yyyy-MM-dd HH:mm:ss,yyyy年MM月dd日 HH时mm分ss秒,yyyy/MM/dd,yyyy-MM-dd,yyyy年MM月dd日" />
    <!-- 根据IP获取城市 -->
    <add key="ipcity" value="http://ip.taobao.com/service/getIpInfo.php?ip={0}" />
  </appSettings>
  <casClientConfig casServerLoginUrl="http://192.168.14.35:8012/cas/login" casServerUrlPrefix="http://192.168.14.35:8012/cas" serverName="http://local.pep.com" notAuthorizedUrl="~/NotAuthorized.aspx" cookiesRequiredUrl="~/CookiesRequired.aspx" redirectAfterValidation="true" gateway="false" renew="false" singleSignOut="true" ticketTimeTolerance="5000" ticketValidatorName="Cas20" serviceTicketManager="CacheServiceTicketManager" gatewayStatusCookieName="CasGatewayStatus" />
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" defaultRedirect="~/Shared/Error" />
    <authentication mode="Forms">
      <forms loginUrl="http://192.168.14.35:8012/cas/login" cookieless="UseCookies" timeout="3000" />
      <!--<forms loginUrl="https://cas.example.com/cas/login" cookieless="UseCookies" />-->
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <resConfig SystemName="评E评简版系统" urlWrite="http://oss.write.yunfangdata.com/ResourcesPoolWrite/" urlRead="http://oss.read.yunfangdata.com/ResourcesPoolRead/" />
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="DotNetCasClient" />
      <add name="DotNetCasClient" type="DotNetCasClient.CasAuthenticationModule,DotNetCasClient" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <staticContent>
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.85.4.369" newVersion="0.85.4.369" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.4000" newVersion="3.1.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="MySql.Data.Entity.MySqlConnectionFactory, MySql.Data.Entity.EF6" />
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
<!--<casClientConfig casServerLoginUrl="https://cas.example.com/cas/login" casServerUrlPrefix="https://cas.example.com/cas/" serverName="cas.example.com" notAuthorizedUrl="~/NotAuthorized.aspx" cookiesRequiredUrl="~/CookiesRequired.aspx" redirectAfterValidation="true" gateway="false" renew="false" singleSignOut="true" ticketTimeTolerance="5000" ticketValidatorName="Cas20" proxyTicketManager="CacheProxyTicketManager" serviceTicketManager="CacheServiceTicketManager" gatewayStatusCookieName="CasGatewayStatus" />-->
</configuration>